<div class="dashboard-container" vocab="http://schema.org/" typeof="CollectionPage">
    <h1>Layered Visualization Extension</h1>

    <ng-container *ngIf="statsData$ | async as stats; else loadingTpl">
        <div class="content">
            <div class="stats-section">
                <app-stats-chart [stats]="stats"></app-stats-chart>
            </div>

            <div class="graph-section" *ngIf="graphData$ | async as graph">
                <div class="graph-header">
                    <h2>3D Knowledge Graph</h2>
                    <input type="text" class="search-input" [(ngModel)]="searchQuery" placeholder="Search node...">
                </div>
                <app-network-graph [nodes]="graph.nodes" [links]="graph.links" [searchTerm]="searchQuery">
                </app-network-graph>
            </div>
        </div>
    </ng-container>

    <ng-template #loadingTpl>
        <div class="loading">Loading analysis data...</div>
    </ng-template>


    <!-- Trend Analysis Section -->
    <app-trend-analysis></app-trend-analysis>
</div>